@import 'vars';

.container-notfound {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}
.avatar {
    position: absolute;
    display: grid;
    place-content: center;
    width: 300px;
    height: 300px;
    background-color: var(--dark);
}
.right-hear {
    position: relative;
    top: 60px;
    left: -6px;
    background-color: var(--hospital-green);
    height: 20px;
    width: 10px;
    border-radius: 99%;
}
.right-hear-details {
    position: relative;
    background-color: var(--black);
    height: 6px;
    width: 1px;
    border-radius: 50%;
    top: 9px;
    left: 4px;
}
.left-hear {
    position: relative;
    top: 40px;
    left: 65px;
    background-color: var(--hospital-green);
    height: 20px;
    width: 10px;
    border-radius: 99%;
}
.left-hear-details {
    position: relative;
    background-color: var(--black);
    height: 6px;
    width: 1px;
    border-radius: 50%;
    top: 9px;
    left: 5px;
}
.head {
    background-color: var(--hospital-green);
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
.eyes-right {
    position: relative;
    background-color: var(--black);
    width: 12px;
    height: 1px;
    top: 26px;
    left: 15px;
    border-radius: 50%;
    transform: rotate(-16deg);
}
.eyes-left {
    position: relative;
    background-color: var(--black);
    width: 13px;
    height: 1px;
    top: 24px;
    left: 41px;
    border-radius: 50%;
    transform: rotate(15deg);
}
.tough {
    position: relative;
    background-color: var(--black);
    width: 15px;
    height: 5px;
    top: 46px;
    left: 32px;
    border-radius: 50%;
}
.menssage {
    position: relative;
    width: 200px;
    height: 100px;
    background-color: var(--hospital-green);
    z-index: 2;
    top: -100px;
    left: 150px;
}
.menssage p{
    padding: 0 8px;
    color: var(--withe);
    font-size: var(--lg);
    font-weight: bold;
}
.loader {
    background-color: var(--withe);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 2s linear forwards;
}
@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    95% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
.loader div {
    background-color: var(--hospital-green);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 10px;

    transform: scale(0);

    animation: scaling 2s ease-in-out infinite;
}
.loader div:nth-child(1) {
    animation-delay: 0.2s;
}
.loader div:nth-child(2) {
    animation-delay: 0.4s;
}
.loader div:nth-child(3) {
    animation-delay: 0.6s;
}
@keyframes scaling {
    0% {
       transform: scale(0.2); 
    }
    40% {
        transform: scale(1);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.2); 
     }
}