@import 'vars';

.ProductItem {
    width: 240px;
}
.ProductItem img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}
.produc-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.produc-info figure {
    margin: 0;
}
.produc-info figure img{
    width: 35px;
    height: 35px;
}
.produc-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
.produc-info div p:nth-child(2) {
    font-size: var(--sm);
    color: var(--very-light-pink);
    margin-top: 0;
    margin-bottom: 0;
}
.add-to-cart-btn {
    box-shadow: var(--very-light-pink) 0px 0px 2px;
    cursor: pointer;
}
.disable {
    cursor: not-allowed;
}
@media (max-width: 640px) {
    .cards-container {
    grid-template-columns: repeat(auto-fill, 140px);
    }
    .ProductItem {
    width: 140px;
    }
    .ProductItem img {
    width: 140px;
    height: 140px;
    }
}