# Flujo para ejecutar un build de produccion (rama main)
#En Netlify con el proposito de que nuestro contenido se
#actualice.
name: Trigger Netlify Build

on:
  schedule:
  # You can use https;//crontab.guru to generate the
  # desired cron scheduled :)
    - cron: '10 9 * * 1' # At 09:10 on Monday

jobs:
  build:
    name: Request Netlify Webhook
    runs-on: ubuntu-latest
    steps:
      - name: Ping
        run: curl -X POST -d {} https://api.netlify.com/build_hooks/626ca9cce553af2074357a8f